:root {
  --body-background: #F5F5F5;
  --section-background: #FFFFFF;
  --content-color: #656565;
  --title-color: #3A3A3A;
  --special-color : #B0BF24;
}

@font-face {
  font-family: 'danaBold';
  src: url('./fonts/DanaFaNum-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'danaBolder';
  src: url('./fonts/DanaFaNum-ExtraBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'danaRegular';
  src: url('./fonts/DanaFaNum-Regular.ttf') format('truetype');
  font-style: normal;
}

.danaBold {
  font-family: 'danaBold';
}

.danaBolder {
  font-family: 'danaBolder';
}

.danaRegular {
  font-family: 'danaRegular';
}

body {
  background: var(--body-background);
  margin: 0;
  font-family: 'danaBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,p{
  text-align: right;
}

.MuiTypography-root .MuiTypography-body1 .css-ahj2mt-MuiTypography-root{
  font-family: danaBold !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before{
  opacity: 0 !important;
}


.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 14px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #E4E6EF;
  margin-bottom: 32px;
}

.header h1{
  font-size: 34px;margin-bottom: 20px;
}

h1{
  margin: 16px 0;
}

.icon-shadow{
  background-color: var(--section-background);
  box-shadow: 0px 15px 30px 0px #E9EDF280;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.router{
  font-size: 12px;
}

.router span{
  color: var(--special-color);
}

.faq-boxes-holder{
  margin-top: 20px;
}

hr {
  border: none;
  border-top: 1px solid #EFEFEF; 
  margin: 0 12px; 
}

.accordion{
  margin: 20px 0;
  box-shadow: 0px 4px 16px rgba(137, 137, 137, 0.1);
  border-radius: 8px !important;
}

.title{
  color: var(--title-color);
}

.content{
  color: var(--content-color);
}

@media screen and (min-width: 1251px){
  .App{
    margin: 0 60px;
  }
}

@media screen and (min-width: 720px) {
  .accordion {
    margin: 10px 0;
  }
  .div1,.div2{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .accordions-holder {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}